/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    height: 100%;
    margin: 0;
}

html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    /*    background: rgba(0, 0, 0, 0) url("images/rose-image.png") repeat center center;*/
}



article,
aside,
footer,
header,
nav,
section {
    display: block;
}

body {
    background-color: #FFD7DD;
    color: #2C363F;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}





ul,
ol {
    list-style-type: none;

}

.navigation {

    height: 100px;
    float: right;
}

nav ul {
    /*    padding: .5rem 1rem;*/
    list-style: none;
    display: inline-block;

}

nav ul li {
    text-decoration: none;
    display: inline-block;
    padding-left: .5rem;
    padding-top: .5rem;

}



nav ul li a {

    padding: 5px;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    float: right;
    padding-left: 2rem;
    color: black;

}




.button-learn {

    /*    background-color:*/
    color: white;
    border-radius: 10px;
    padding: 15px 40px;
    margin: 15px 10px;
    /*    text-align: center;*/
    float: right;

}

#landing-page {
    /*    background-image: url("images/landing-new.png");*/
    background-image: url("images/fourth-landing.png");
    /*    background-image: url("images/online-shopping-main.jpg");*/
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    /*    text-align: center;*/
}

/*#landing-page h2 {*/

font-size: 2.5rem;
/*padding-bottom: 1rem;*/

/*}*/

#landing-page p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

#title-box p {
    font-size: 2rem;
}

.row p {

    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem;

}

.login-section {
    padding-top: 1.5rem;

}

#login-button,
#register-button {


    width: 250px;
    height: 70px;
    border-radius: 20px;

}



button {

    background-color: plum;
    height: 1.6rem;
    width: 7rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;


    /*    border-radius: 20px;*/
}

/*
.images {

    width: 960px;
}
*/

.col-4 {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10rem;



}


.col-4 h2 {

    padding: .7rem .7rem;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;


}

.col-4 p {
    padding-top: .5rem;

}

.images {
    width: 85%;
}

images p {

    display: inline-block;
}

form,
.signup,
.login {
    /*    width: 50%;*/
    margin-left: auto;
    margin-right: auto;
    /*    width: 500px;*/
    width: 50%;
}

.login,
.signup {
    padding: 1rem 3rem;
}

#log-in,
#sign-in {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

form {

    margin: 0 auto;
    text-align: left;
    display: block;
    box-sizing: border-box;
    width: 80%;
    padding: 1rem 1rem;
    border-radius: 6px;
    border: 2px solid #fff;
    padding-top: 2rem;

}


#my-dashboard {
    padding: 2rem
}


.row {

    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}

/*not necessary*/

.col-1,
.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}

.rTable {
    display: table;
    width: 100%;
    padding: 2rem;
}

.rTableRow {
    display: table-row;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}

.rTableCell,
.rTableHead {
    display: table-cell;
    padding: 2px 7px;
    border: 1px solid #999999;
    vertical-align: middle;
}



.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}

.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}

.rTableBody {
    display: table-row-group;
}

.add-new {
    padding-top: 1rem;
    padding-bottom: 3rem;
    float: right;

}

.add-new button {
    border-radius: 20px;
}

.links-wrapper {
    padding-top: 3rem;
}

#addItemSection {
    display: block;
    margin: 1rem;
    margin-right: auto;
    margin-left: auto;
}


input,
textarea {
    /*    height: 2.5rem;*/
    border-radius: 5px;
    padding-left: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;

}

input .checkBox {}

.add-cancel {

    text-align: center;
}

.add-cancel button {
    border-radius: 20px;
}

footer p {
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

/* -------------------------------------
Footer styles (Main Module)


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

@media only screen and (max-width: 1000px) {}



@media only screen and (max-width: 640px) {
    body {

        width: 95%;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }

    .text p {

        padding: 1rem 0rem;
    }
    .row {
        max-width: 1600px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        float: none;
        width: 50%;
    }

}

@media only screen and (max-width: 480px) {

    .row {
        max-width: 1600px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        float: none;
        width: 50%;
    }

    button {
        width: 100%;
    }

    #login-button,
    #register-button {
        width: 100%;
        height: 70px;
        border-radius: 20px;
    }
    form,
    .signup,
    .login {

        width: 100%;
    }
}
