/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    height: 100%;
    margin: 0;
}

html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    /*    background: rgba(0, 0, 0, 0) url("images/rose-image.png") repeat center center;*/
}



article,
aside,
footer,
header,
nav,
section {
    display: block;
}

body {
    background-color: lightpink;
    color: #2C363F;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#landing-page {
    background-image: url("images/landing-new.png");
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;

}

#landing-page p {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.row p {

    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem;

}

button {

    background-color: plum;
    height: 1.6rem;
    width: 7rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 5px;


}

form,
.signup,
.login {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.login,
.signup {
    padding: 1rem 3rem;
}



form {

    margin: 0 auto;
    text-align: left;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #fff;

}


#my-dashboard {
    padding: 2rem
}

.row {

    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}


/*not necessary*/

.col-1,
.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}

.rTable {
    display: table;
    width: 100%;
    /*    padding: 2rem;*/
}

.rTableRow {
    display: table-row;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}

.rTableCell,
.rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}

.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}

.rTableBody {
    display: table-row-group;
}

#addItemSection {
    display: inline-block;
    margin: 1rem;
    margin-top: 1.5rem;
    margin-left: 0;
}

input,
textarea {
    height: 2.5rem;
    border-radius: 5px;
    padding-left: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/
